.App {
  display: flex;
  align-items: center;
  height: 100vh;
}

@media only screen and (min-width: 415px) {
  #myVideo {
    position: absolute;
    z-index: -1;
    width: 100%;
    left: 50%;
    top: 50%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
  }
}

@media only screen and (max-width: 415px) {
  #myVideo {
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    height: 1135px;
    object-fit: cover;
    transform: translate(-50%, -50%);
  }
}

.content {
  vertical-align: middle;
  color: #f1f1f1;
}
